@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.app-wrapper {
  margin: 30px auto;

  width: 750px;

  background-color: #fff;
  border-radius: 40px;

  transition: background-color 0.3s;
}

.app-container {
  margin: 0 auto;
  padding: 15px;

  width: 600px;

  background-color: #fff;
  border-radius: 40px;
}

h1 {
  text-align: center;
}

.input-field {
  margin: 0 auto;

  width: 500px;
}

[type="checkbox"] + span:not(.lever) {
  font-size: 32px;
  color: rgb(85, 85, 85);

  transition: color 0.3s;
}

.todo-title {
  font-family: Rubik, sans-serif;
  font-size: large;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  color: rgb(139, 139, 139);
  text-decoration: line-through;
}

.todo label {
  padding: 1rem;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  background: #fff;
}

.todo i {
  z-index: 2;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  display: flex;
}
